<div class="modal">
    
    <ion-header-bar>
        <span class="emaitzak-modala-izenburua">Emaitzak</span>
    </ion-header-bar>
    
    <ion-content>
        <div class="emaitzak-modala-emaitzak">
            <span class="emaitzak-modala-zuzenak-kontainer">
                <img class="emaitzak-modala-zuzenak-irudia" src="img/galdera_erantzunak/zuzen.png">
                <span class="emaitzak-modala-zuzenak">{{zuzen_kop}}</span>
            </span>
            <span>
                <img class="emaitzak-modala-okerrak-irudia" src="img/galdera_erantzunak/oker.png">
                <span class="emaitzak-modala-okerrak">{{oker_kop}}</span>
            </span>
        </div>
    </ion-content>
    
    <ion-footer-bar>
        <button class="button emaitzak-modala-ados-botoia" type="button" ng-click="emaitzenModalaItxi()">Ados</button>
    </ion-footer-bar>
    
</div>