<div class="modal">
    
    <ion-header-bar>
        <span>Emaitzak</span>
    </ion-header-bar>
    
    <ion-content>
        <div>
            <span>
                <img id="emaitza-zuzenak-img" src="img/galdera_erantzunak/zuzen.png">
                <span>{{zuzen_kop}}</span>
            </span>
            <span>
                <img id="emaitza-okerrak-img" src="img/galdera_erantzunak/oker.png">
                <span>{{zuzen_kop}}</span>
            </span>
        </div>
    </ion-content>
    
    <ion-footer-bar>
        <button id="emaitzak-berriz-hasi-botoia" type="button" class="button">Hasi berriz</button>
        <button id="emaitzak-itzuli-botoia" type="button" class="button">Itzuli nire txokora</button>
    </ion-footer-bar>
    
</div>