<ion-view title="Esaldiak ordenatu">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    
    <ion-content class="has-header">
        
        <div id="esaldiak-zuzendu-markagailua">
            <span id="zenbagarrena">
                <span id="unekoa">1</span>/<span id="guztira">4</span>
            </span>
            
            <span id="emaitzak">
                <span id="zuzenak_span">
                    <img src="img/galdera_erantzunak/zuzen.png" id="zuzenak_img">
                    <span id="zuzenak">0</span>
                </span>
                
                <span id="okerrak_span">
                    <img src="img/galdera_erantzunak/oker.png" id="okerrak_img">
                    <span id="okerrak">0</span>
                </span>
            </span>
        </div>
        
        <div class="jMyPuzzle"></div>
        
    </ion-content>
</ion-view>