<ion-view title="Esaldiak ordenatu">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    
    <ion-content class="has-header">
        
        <div id="esaldiak-zuzendu-markagailua">
            <span id="esaldiak-zuzendu-zenbagarrena">
                <span id="esaldiak-zuzendu-unekoa">1</span>/<span id="esaldiak-zuzendu-guztira">4</span>
            </span>
            
            <span id="esaldiak-zuzendu-emaitzak">
                <span id="esaldiak-zuzendu-zuzenak_span">
                    <img src="img/galdera_erantzunak/zuzen.png" id="esaldiak-zuzendu-zuzenak_img">
                    <span id="esaldiak-zuzendu-zuzenak">0</span>
                </span>
                
                <span id="esaldiak-zuzendu-okerrak_span">
                    <img src="img/galdera_erantzunak/oker.png" id="esaldiak-zuzendu-okerrak_img">
                    <span id="esaldiak-zuzendu-okerrak">0</span>
                </span>
            </span>
        </div>
        
        <div class="jMyPuzzle"></div>
        
    </ion-content>
</ion-view>