<ion-view title="Galdera-erantzunak">
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        
        <div id="galdera-erantzunak-izenburua">
            {{izena}}
        </div>
        
        <div id="galdera-erantzunak-multimedia-edukinontzia">
            
            <div id="jp_container_1" class="jp-video jp-video-270p">
                
                <div class="jp-type-single">
                    
                    <div id="jquery_jplayer_1" class="jp-jplayer"></div>
                    
                    <div class="jp-gui">
                        
                        <div class="jp-interface">
                            
                            <div class="jp-controls-holder">
                                
                                <a href="javascript:;" class="jp-play button icon ion-play" tabindex="1"></a>
                                <a href="javascript:;" class="jp-pause button icon ion-pause" tabindex="1"></a>
                                
                            </div><!--end jp-controls-holder-->
                            
                            <div class="jp-aurrerapen-barra-edukinontzia">
                                
                                <div class="jp-progress">
                                    
                                    <div class="jp-seek-bar">
                                        <div class="jp-play-bar"></div>
                                    </div>
                                    
                                </div>
                                
                                <div class="jp-current-time"></div>
                                <div class="jp-duration"></div>
                                
                            </div>
                            
                        </div><!--end jp-interface-->
                        
                    </div><!--end jp-gui-->
                    
                    <div id="bideoa-azpitituluak" class="bideoa-azpitituluak-behean"></div>
                    
                    <div class="jp-no-solution">
                        <span>Beharrezkoa da eguneratzea</span>
                        Edukiak erreproduzitzeko nabigatzailea edo <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugina</a> eguneratu behar dituzu.
                    </div>
                    
                </div><!--end jp-type-single-->
                
            </div><!--end jp_container_1-->
            
        </div>
        
        <div id="galderak-modala" class="modal fade" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    
                    <div class="modal-header">
                        
                        <div id="goikoa">
                            <span id="emaitzak">
                                <span id="zuzenak_span">
                                    <img id="zuzenak_img" src="img/galdera_erantzunak/zuzen.png">
                                    <span id="zuzenak"></span>
                                </span>
                                
                                <span id="okerrak_span">
                                    <img id="okerrak_img" src="img/galdera_erantzunak/oker.png">
                                    <span id="okerrak"></span>
                                </span>
                            </span>
                            <span id="zenbagarrena">
                                <span id="unekoa"></span>/<span id="guztira"></span>
                            </span>
                        </div>
                        
                    </div>
                    
                    <div class="modal-body">    
                        <div id="edukiak">
                            
                            <div id="galdera_kontainer">
                                <span id="galdera" data-id=""></span>
                            </div>
                            
                            <div id="erantzunak"></div>
                            
                            <div id="container">
                                <div id="chaptersMap"></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="modal-footer">
                        <button id="zuzendu" type="button" class="btn btn-default">Zuzendu</button>
                        <button id="aurrera" type="button" class="btn btn-primary">Aurrera</button>
                    </div>
                    
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </ion-content>
</ion-view>
