<ion-view title="Hutsuneak bete">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    
    <ion-content class="has-header">
        
        <div id="hitzak-markatu-ikus-entzunezkoa-edukinontzia">
            
            <div id="goiko-botoiak">
                <button id="zuzendu-botoia" class="button">Zuzendu</button>
            </div>
            
            <div id="jp_container_1" class="jp-video jp-video-270p">
                
                <div class="jp-type-single">
                    
                    <div id="jquery_jplayer_1" class="jp-jplayer"></div>
                    
                    <div class="jp-gui">
                        
                        <div class="jp-video-play">
                            <a href="javascript:;" class="jp-video-play-icon" tabindex="1">play</a>
                        </div>
                        
                        <div class="jp-interface">
                            
                            <div class="jp-controls-holder">
                                
                                <a href="javascript:;" class="jp-play button icon ion-play" tabindex="1"></a>
                                <a href="javascript:;" class="jp-pause button icon ion-pause" tabindex="1"></a>
                                
                            </div><!--end jp-controls-holder-->
                            
                            <div class="jp-aurrerapen-barra-edukinontzia">
                                
                                <div class="jp-progress">
                                    
                                    <div class="jp-seek-bar">
                                        <div class="jp-play-bar"></div>
                                    </div>
                                    
                                </div>
                                
                                <div class="jp-current-time"></div>
                                <div class="jp-duration"></div>
                                
                            </div>
                            
                        </div><!--end jp-interface-->
                        
                    </div><!--end jp-gui-->
                    
                    <div id="bideoa-azpitituluak" class="bideoa-azpitituluak-behean"></div>
                    
                    <div class="jp-no-solution">
                        <span>Beharrezkoa da eguneratzea</span>
                        Edukiak erreproduzitzeko nabigatzailea edo <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugina</a> eguneratu behar dituzu.
                    </div>
                    
                </div><!--end jp-type-single-->
                
            </div><!--end jp_container_1-->
            
        </div>
        
        <div id="hitzak-markatu-testuak-edukinontzia">
            <div id="hitzak-markatu-hitz-ontzia"></div>
            <div id="hitzak-markatu-hipertranskribapena-edukinontzia" data-hitzak-markatu-hipertranskribapena></div>
        </div>
        
    </ion-content>
</ion-view>