<ion-view title="Hutsuneak bete">
    
    <ion-content class="has-header">
        
        <div id="hutsuneak-bete-bideoa-edukinontzia">
            
            <div id="hutsuneak-bete-izenburua">
                {{izena}}
            </div>
            
            <div id="jp_container_1" class="jp-video jp-video-270p">
                
                <div class="jp-type-single">
                    
                    <div id="jquery_jplayer_1" class="jp-jplayer"></div>
                    
                    <div class="jp-gui">
                        
                        <div class="jp-interface">
                            
                            <div class="jp-controls-holder">
                                
                                <a href="javascript:;" class="jp-play button icon ion-play" tabindex="1"></a>
                                <a href="javascript:;" class="jp-pause button icon ion-pause" tabindex="1"></a>
                                
                            </div><!--end jp-controls-holder-->
                            
                            <div class="jp-aurrerapen-barra-edukinontzia">
                                
                                <div class="jp-progress">
                                    
                                    <div class="jp-seek-bar">
                                        <div class="jp-play-bar"></div>
                                    </div>
                                    
                                </div>
                                
                                <div class="jp-current-time"></div>
                                <div class="jp-duration"></div>
                                
                            </div>
                            
                        </div><!--end jp-interface-->
                        
                    </div><!--end jp-gui-->
                    
                    <div id="bideoa-azpitituluak" class="bideoa-azpitituluak-behean"></div>
                    
                </div><!--end jp-type-single-->
                
            </div><!--end jp_container_1-->
            
            <div id="hutsuneak-bete-goiko-botoiak">
                <button id="hutsuneak-bete-berriz-hasi-botoia" class="button" ng-click="hasi_berriz()">Berriz hasi</button>
                <button id="hutsuneak-bete-zuzendu-botoia" class="button" ng-class="{disabled : zuzenduta === true}" ng-click="zuzendu()">Zuzendu</button>
            </div>
            
        </div>
        
        <div id="hutsuneak-bete-hipertranskribapena-edukinontzia" data-hutsuneak-bete-hipertranskribapena></div>
    </ion-content>
</ion-view>
