<ion-view title="Multzokatu">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    
    <ion-content class="has-header">
        
        <div id="multzokatu-botoiak">
            <button id="multzokatu-berriz-hasi-botoia" class="button" ng-click="berrizHasi()">Berriz hasi</button>
            <button id="multzokatu-egiaztatu-botoia" class="button" ng-click="egiaztatu()">Egiaztatu</button>
            <button id="multzokatu-zuzendu-botoia" class="button" ng-click="zuzendu()">Zuzendu</button>
        </div>
        
        <div class="row">
            <section class="col">
                <h3 class="multzokatu-taldea-izenburua">Elementuak</h3>
                <ul ui-sortable="sortable_options" id="multzokatu-jatorria" class="list sortable">
                    <li class='item' ng-repeat="elementua in multzokatu.elementuak" data-elementua='{{ elementua.id }}' data-taldea='{{ elementua.id_taldea }}'>{{ elementua.izena }}</li>
                </ul>
            </section>
            
            <section class="col" ng-repeat="taldea in multzokatu.taldeak">
                <h3 class="multzokatu-taldea-izenburua">{{ taldea.izena }}</h3>
                <ul ui-sortable="sortable_options" id="{{ 'multzokatu-helburua_' + taldea.id }}" class="multzokatu-helburua sortable" class="list" data-taldea="{{ taldea.id }}"></ul>
            </section>
        </div>
    </ion-content>
</ion-view>