<ion-view title="Nire txokoa">
    
    <ion-nav-bar class="bar-stable nav-title-slide-ios7"></ion-nav-bar>
    
    <ion-content class="has-header">
        
        <h2>Kaixo {{ izena + ' ' + abizenak }}</h2>
        
        <div class="row">
            
            <div class="col">
                
                <h3>Egin beharreko ariketak</h3>
                
                <a ng-repeat="egitekoa in ariketak.egitekoak" class="item item-icon-left" ng-click="bistaratuAriketa({{ egitekoa.id }}, {{ egitekoa.id_ariketa_mota }})">
                    <i class="icon" ng-class="ikonoak[egitekoa.id_ariketa_mota]"></i>
                        {{ egitekoa.izena }}
                    <span class="item-note">
                        {{ egitekoa.bukaera_data }}
                    </span>
                </a>
                
            </div>
            
            <div class="col">
                
                <h3>Egindako ariketak</h3>
                
                <a class="item item-icon-left" ng-click="bistaratuAriketa(3, 4)">
                    <i class="icon ion-compose"></i>
                        Karlos Zurutuza laburrean
                    <span class="item-note">
                        2014-09-04 19:34
                    </span>
                </a>
                
                <a class="item item-icon-left" ng-click="bistaratuAriketa(16, 1)">
                    <i class="icon ion-beer"></i>
                        Esaldiak zuzendu proba
                    <span class="item-note">
                        2014-09-04 19:14
                    </span>
                </a>
                
                <a ng-repeat="egindakoa in ariketak.egindakoak" class="item item-icon-left" ng-click="bistaratuAriketa({{ egindakoa.id }}, {{ egindakoa.id_ariketa_mota }})">
                    <i class="icon" ng-class="ikonoak[egitekoa.id_ariketa_mota]"></i>
                        {{ egindakoa.izena }}
                    <span class="item-note">
                        {{ egindakoa.bukaera_data }}
                    </span>
                </a>
                
            </div>
            
        </div>
        
    </ion-content>
    
</ion-view>
