<ion-view title="Nire txokoa" hide-back-button="true">
    
    <ion-nav-bar class="bar-stable nav-title-slide-ios7 bar bar-header nav-bar nav-title-slide-full disable-user-behavior">
        <ion-nav-buttons side="right">
            <button class="button button-clear icon ion-log-out"> Amaitu saioa</button>
        </ion-nav-buttons>
    </ion-nav-bar>
    
    <div class="tabs-striped tabs-top tabs-light">
        <div class="tabs">
            <a class="tab-item" ng-class="zeinFitxa == 'egitekoak' ? 'active' : ''" href="" ng-click="zeinFitxa = 'egitekoak'">
                Egin beharreko ariketak
            </a>
            <a class="tab-item" ng-class="zeinFitxa == 'egindakoak' ? 'active' : ''" href="" ng-click="zeinFitxa = 'egindakoak'">
                Egindako ariketak
            </a>
        </div>
    </div>
    
    <ion-content class="has-header has-subheader">
        
        <!-- <h2>Kaixo {{ izena + ' ' + abizenak }}</h2> -->
        
        <div ng-show="zeinFitxa ==='egitekoak'" class="list list-inset">
            
            <a ng-repeat="egitekoa in ariketak.egitekoak" class="item" ng-click="bistaratuAriketa({{ egitekoa.id }}, {{ egitekoa.id_ariketa_mota }}, {{ egitekoa.id_ikasgaia }})">
                <h2>{{ egitekoa.izena }}</h2>
                <p>{{ egitekoa.ariketa_mota }}</p>
                <span class="item-note">
                    {{ egitekoa.bukaera_data }}
                </span>
            </a>
            
        </div>
        
        <div ng-show="zeinFitxa ==='egindakoak'" class="list list-inset">
            
            <a ng-repeat="egindakoa in ariketak.egindakoak" class="item" ng-click="bistaratuAriketa({{ egindakoa.id }}, {{ egindakoa.id_ariketa_mota }})">
                <h2>{{ egindakoa.izena }}</h2>
                <p>{{ egindakoa.ariketa_mota }}</p>
                <span class="item-note">
                    {{ egindakoa.egindako_data }}
                </span>
            </a>
            
        </div>
        
    </ion-content>
    
</ion-view>
