#esaldiak-zuzendu-markagailua {
    margin: 20px auto 0px auto;
    width: 70%;
    background-color: #ffffff;
    color: #000000;
    font-size: 1.8em;
    padding:5px;
    border-top: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
}

#zenbagarrena {
}

#emaitzak {
    float: right;
}

#zuzenak_img {
    height: 30px;
    margin-bottom: 10px;
}

#okerrak_img {
    height: 30px;
    margin-bottom: 10px;
}

div.jMyPuzzle #aurrera-botoia {
    float: right;
    font-size: 1.2em;
     margin-right: 190px;
     margin-top: 100px;
    padding: 3px 3px 3px 3px;
    width: 155px;
    background-color:  #e2e2e2 ! important;
     border: 1px solid  #e2e2e2;
     color: #000000;
     border-radius:4px;
     cursor: pointer;
}

div.jMyPuzzle #berriz-hasi-botoia {
    float: right;
    font-size: 1.2em;
    margin-right: 20px;
    margin-top: 100px;
    padding: 3px 3px 3px 3px;
    width: 155px;
}

div.jMyPuzzle p {
     margin: 0px;
     padding: 0px;
}

div.jMyPuzzle {
     background-color: #FFFFFF;
     border: 1px solid #e2e2e2;
     display: block;
     height: 200px;
     margin: auto;
     width: 70%;
}

div.jMyPuzzle ul {
     display: block;
     margin-top: 30px;
     position: absolute;
     width: 100%;
}

div.jMyPuzzle ul li {
     background-color: #f8ce44!important;
     border-radius: 6px 6px 6px 6px;
     border: 2px solid #f8ce44;
     color: #000000;
     cursor: pointer;
     display: block;
     float: left;
     font-size: 1.2em;
     font-weight: bold;
     margin: 2px;
     padding: 4px;
}

div.jMyPuzzle input.button {
     background-color:  #e2e2e2 ! important;
     border: 1px solid  #e2e2e2;
     color: #000000;
     border-radius:4px;
     cursor: pointer;
}

div.jMyPuzzle input.button:hover {
     color: #000000;
}

div.jMyPuzzle input#reset.button {
     background: url("lightning.png") no-repeat scroll 5% center transparent;
     float: right;
     font-size: 1.2em;
     margin-right: 110px;
     margin-top: 100px;
     padding: 3px 3px 3px 40px;
     width: 155px;
}

div.jMyPuzzle input#check.button {
     background: url("check.png") no-repeat scroll 5% center transparent;
     float: right;
     font-size: 1.2em;
     margin-right: 20px;
     margin-top: 100px;
     padding: 3px 3px 3px 40px;
     width: 155px;
}

div.jMyPuzzle #trials {
     background-color: #000000;
     color: #FFFFFF;
     font-size: 1.3em;
     font-weight: bold;
     margin-bottom: 10px;
     padding-right: 10px;
     text-align: right;
}

div.jMyPuzzle .normal {
     background-color: #CCCCCC;
}

div.jMyPuzzle .notValid {
     background-color: #E50100;
     border-color: #E50100;
}

div.jMyPuzzle .miValid {
     background-color: #FFA500;
}

div.jMyPuzzle .valid {
     background-color: #B9D305;
}
