/* Bideo eta hipertranskribapenaren estilo komunak */

#bideoa-azpitituluak {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    text-shadow: 2px 2px 6px #000000;
    width: 480px;
}

.bideoa-azpitituluak-behean {
    top: 250px;
}