.hutsuneak-bete-input {
    display: inline-block !important;
    width: auto !important;
    border-radius: 4px !important;
    border: 1px solid #cccccc !important;
}

.hutsuneak-bete-input.zuzena {
    color: #00FF00 !important;
}

.hutsuneak-bete-input.okerra {
    color: #FF0000 !important;
}

#hutsuneak-bete-goiko-botoiak {
    margin: 10px auto 0 auto;
    max-width: 480px;
    width: 90%;
    text-align: center;
}

#hutsuneak-bete-izenburua {
    color: #444;
    font-size: 24px;
    padding: 10px;
    text-align: center;
}

#hutsuneak-bete-bideoa-edukinontzia {
    float: left;
    width: 50%;
}

#hutsuneak-bete-hipertranskribapena-edukinontzia {
    float: right;
    width: 50%;
    color: #666;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 110%;
    line-height: 20px;
    overflow-y: scroll;
    padding: 10px;
}

#hutsuneak-bete-hipertranskribapena-edukinontzia p {
    width: 90%;
}

#hutsuneak-bete-hipertranskribapena-edukinontzia span, #target-content span  {
    cursor: pointer;
}    

#hutsuneak-bete-hipertranskribapena-edukinontzia span.transcript-grey:hover, #target-content span.transcript-grey:hover {  
    color: #f9b72b; 
}

#hutsuneak-bete-hipertranskribapena-edukinontzia span:hover, #target-content span:hover  {  
    color: #f9b72b; 
}

#hutsuneak-bete-hipertranskribapena-edukinontzia span.highlight, #target-content span.highlight {  
    color: #fff; 
}       

#hutsuneak-bete-hipertranskribapena-edukinontzia span.transcript-grey, #target-content span.transcript-grey {
   color: #888;
}