#hutsuneak-bete-bideoa-edukinontzia {
    float: left;
    width: 50%;
}

#hutsuneak-bete-transkribapena-edukinontzia {
    float: right;
    width: 50%;
}

#hutsuneak-bete-transkribapena-edukinontzia p {
    width: 90%;
}

#jp_container_1 {
    max-width: 95% !important;
}

#jquery_jplayer_1 {
    height: auto !important;
    width: 100% !important;
}

#jp_video_0 {
    height: auto !important;
    width: 100% !important;
}

.hutsuneak-bete-input {
    display: inline-block !important;
    width: auto !important;
}

.hutsuneak-bete-input.zuzena {
    color: #00FF00 !important;
}

.hutsuneak-bete-input.okerra {
    color: #FF0000 !important;
}

#beheko-botoiak {
    text-align: center;
}