.bar.bar-stable {
    background-color: #333333;
}

.bar.bar-stable .title {
    color: #ffffff;
}

.bar-stable .button {
    color: #ffffff;
}

.bar-stable .button.button-clear {
    color: #ffffff;
}

.tabs-top.tabs-striped .tab-item.tab-item-active, .tabs-top.tabs-striped .tab-item.active, .tabs-top.tabs-striped .tab-item.activated {
    border-width: 0px 0px 6px 0px !important;
}

.tabs-striped.tabs-light .tab-item.tab-item-active, .tabs-striped.tabs-light .tab-item.active, .tabs-striped.tabs-light .tab-item.activated {
    color: #F8CE44;
    border-color: #F8CE44;
    
}

.emaitzak-modala-izenburua {
    font-weight: bold;
    font-size: 2em;
}

.emaitzak-modala-emaitzak {
    margin-top: 80px;
    text-align: center;
}

.emaitzak-modala-zuzenak-irudia {
    width: 60px;
}

.emaitzak-modala-zuzenak, .emaitzak-modala-okerrak {
    font-size: 48px;
}

.emaitzak-modala-okerrak-irudia {
    margin-left: 60px;
    width: 45px;
}