.multzokatu-taldea-izenburua {
    text-align: center;
}

#multzokatu-botoiak {
    text-align: center;
    margin: 10px 0 0 0;
}

.sortable {
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    min-height: 300px;
}

.multzokatu-erantzun-zuzena {
    color: #00FF00;
}

.multzokatu-erantzun-okerra {
    color: #FF0000;
}